<h1>Greetings, <%= @name %> </h1>
<p>The Time now is: <%= formatted_time(@time)%></p>
<p>This page has been viewed: <%= @time_displayed %></p>

<p><%= link_to "Google", "http://www.google.co.ve" %></p>
<p><%= link_to "GoodBye", greeter_goodbye_path %></p>