<h1>Searching for - <%= @search_term %></h1>

<% if @courses.nil? %>
	<p>No existe cursos relacionados a su busqueda</p>
<% else %>
<table border="1">
	<tr>
		<th>Image</th>
		<th>Name</th>
		<th>Description</th>	
	</tr>
	<% @courses.each do |course| %>
		<tr class=<%= cycle("even", "odd") %>>
			<th><%= image_tag(course["smallIcon"]) %></th>
			<th><%= course["name"] %></th>
			<th><%= course["shortDescription"] %></th>
		</tr>
	<% end %>
</table>
<% end %>
